.cell {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  font-size: 60px;
}

.cell.dark {
  background-color: #c1cfd0;
}

.cell.light {
  background-color: #ecf0f1;
}
